# Node modules
node_modules/
npm-debug.*

# Expo
.expo/
dist/
web-build/
.expo-shared/

# Environment variables and secrets
.env
.env.*
!.env.example

# macOS
.DS_Store
*.pem

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# iOS
ios/Pods/

# Android
android/app/build/
android/app/gradle/
android/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/app/src/main/res/drawable-*/node_modules*
android/app/src/main/res/raw/node_modules*
android/app/.cxx/
*.hprof
node_modules
node_modules
node_modules
